/* ==========================================================================
   #BODY
   ========================================================================== */

body {
  background-color: var(--grey-light);
  color: var(--grey-dark);
  font-family: $font-family-regular;
  font-size: 1.6rem;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  transition: all 250ms ease-in-out;

  // Dark theme
  &.t-dark {
    --primary-color:      #1661FF;
    --secondary-color:    #0C2C5D;

    --grey-dark:          #F3F3F3;
    --grey-dark-rgb:      243,243,243;
    --grey-medium:        #919191;
    --grey-light:         #222f3e;
    --error:              #EB4D4B;

    --white:              #FFFFFF;
    --black:              #000000;

    --text-color:         var(--grey-dark);

    background-image: none;
  }
  // @Dark theme

  &.has-modal {

    overflow: hidden;

      .o-header ,
      .o-wrapper ,
      .o-footer ,
      .c-header  > *:not(.c-modal) ,
      .c-footer  > *:not(.c-modal) ,
      .o-wrapper > *:not(.c-modal) {
          filter: blur(2px);
      }

  }

}
