/* ==========================================================================
   #GRID
   ========================================================================== */

.o-grid {

  display: grid;
  width: 100%;
  grid-gap: 2.4rem;

  @media #{$sm-and-up} {
    grid-template-columns: 1fr 1fr;
  }

  @media #{$md-and-up} {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media #{$lg-and-up} {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__col {

    border: 1px dashed var(--grey-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;

  }

}
