/* ==========================================================================
   #TABLE
   ========================================================================== */

.o-table {

  width: 100%;
  max-width: $container-width;
  min-height: 20rem;

}

